@{
    ViewData["Title"] = "About";
}
<style>
    h4, p {
        color: white;
    }

    #about {
        background-color: gray;
        border-radius: 7px;
    }

    h4 {
        margin-top: -17px;
        padding-top: 90px;
        padding-left: 50px;
        padding-right: 50px;
    }

    p {
        padding-bottom: 90px;
        padding-left: 50px;
        padding-right: 50px;
    }
</style>
<div id="about">
    <h4>About</h4>
    <p>
        SporstPro Technical Support constantly strives to provide the highest level of technical support for all products in the SportsPro family.
    </p>
</div>